

{% macro basic_item(titre, description, item_style ) %}

<div class="{{item_style}}" >
    <h3>{{titre}}</h3>
    <p>{{description}}</p>
</div>
{% endmacro %}


{% macro basic_item_card(page, item, isReverse ) %}

{% set content %}
    {% if item.img %}
        <div class="logo_img">
            {{page.media[item.img].html("","",'img-responsive ' ~ isReverse ? 'order-last' : 'order-first')|raw}}  {#~ isReverse ? "order-first":"order-last"#}
            <p>{{item.description}}</p>
        </div>
    {% else %}
        {% if isReverse %}
            <p>{{item.description}}<i class="fa {{item.fa_icon}} mx-2"></i></p>
        {% else %}
            <p><i class="fa {{item.fa_icon}} mx-2"></i>{{item.description}}</p>
        {% endif %}
    {% endif %}
{% endset %}


<div class="text-center {{isReverse ? 'text-md-end' : 'text-md-start'}}">
    {% if item.img %}
        <div class="logo_img{{(isReverse ? ' justify-content-end' : ' justify-content-start')}}">
             {{page.media[item.img].html("","",'img-responsive mx-2' ~ (isReverse ? ' order-last' : ' order-first'))|raw}}  {#~ isReverse ? "order-first":"order-last"#}
            <p>{{item.description}}</p>
        </div>
    {% else %}
        {% if isReverse %}
            <p>{{item.description}}<i class="fa {{item.fa_icon}} mx-2"></i></p>
        {% else %}
            <p><i class="fa {{item.fa_icon}} mx-2"></i>{{item.description}}</p>
        {% endif %}
    {% endif %}
</div>

{% endmacro %}

