

{% macro basic_item(titre, description, item_style ) %}

<div class="{{item_style}}" >
    <h3>{{titre|raw}}</h3>
    <p>{{description|raw}}</p>
</div>
{% endmacro %}


{% macro basic_item_card(page, item, isReverse ) %}

<div class="{{isReverse ? 'text-md-end' : 'text-md-start'}}">
        <div class="logo_img justify-content-center {{(isReverse ? ' justify-content-md-end' : ' justify-content-md-start')}}">
    {% if item.img %}
        {{page.media[item.img].html("","",'img-responsive mx-2 order-first' ~ (isReverse ? ' order-md-last' : ' order-md-first'))|raw}}  {#~ isReverse ? "order-first":"order-last"#}
        <p>{{item.description}}</p>
    {% else %}

        <i class="fa {{item.fa_icon}} mx-2 {{(isReverse ? ' order-md-last' : ' order-md-first')}}"></i>
        <p>{{item.description}}</p>

    {% endif %}
        </div>
</div>

{% endmacro %}

