

{% macro card(page, img, titre, description, btn_list,css_text_class ) %}

{% import 'macros/button.html.twig' as button %}
<div class="card-carousel" >

  <div class="card-image">
    <a href="">{{ page.media[img.img].attribute('style', 'height: '~ img.height ~'vh;').html("","","img-responsive " ~ img.fit ? img.fit : '' ~ "")|raw }}</a>
  </div>
  <div class="card-carousel__desc card-body {{css_text_class}}">
    <h3>{{titre|raw}}</h3>
    <p>{{description|raw}}</p>
    {{button.macro_button(btn_list)}}
  </div>
</div>
{% endmacro %}


{% macro card_comparatif( card ) %}

    <ul class="card-carousel">
        <li><h2 class="main_title">{{card.title}}</h2></li>
    {% for section_items in card.list %}
        <ul>
        <hr>
        {% for item in section_items.list %}
            <li><p>{{item.desc}}</p></li>
        {% endfor %}
            
        </ul>
        
    {% endfor %}
    </ul>

{% endmacro %}


