

{% macro card(page,img, titre, description, card_btn ) %}


<div class="card-container__item ">
        <img src="{{page.media[img].url}}" >
        <h3>{{titre}}</h3>
        <p>{{description}}</p>
        <button class="btn-eps {{page.header.css_btn}}">{{card_btn}}</button>
</div>
{% endmacro %}


