

{% macro card(page, card ) %}


<div class="card-carousel" >

  <div class="card-image">
    <a href="">{{ page.media[card.image.img].attribute('style', 'height: '~ card.image.height ~'vh;').html("","","img-responsive " ~ card.image.fit ? card.image.fit : '' ~ "")|raw }}</a>
  </div>
  <div class="card-carousel__desc card-body {{card.css_text_class}}">
    <h3>{{card.title|raw}}</h3>
    <p>{{card.description|raw}}</p>
    {% include 'partials/button_block.html.twig' with {obj: card} %}
  </div>
</div>
{% endmacro %}


{% macro card_comparatif( card, index, cta_offres ) %}

    <ul class="card-carousel" data-hash="carte-{{index}}">
        <li><h2 class="main_title">{{card.title}}</h2></li>
    {% for section_items in card.list %}
        <ul>
        <hr>
        {% for item in section_items.list %}
            <li><p>{{item.desc}}</p></li>
        {% endfor %}
            
        </ul>
        
    {% endfor %}
    <ul>
      <hr>
      {% include 'partials/button_block.html.twig' with {obj: card} %}
    </ul>
    </ul>

{% endmacro %}


