
{% macro macro_modal(id,content,modalHeader,modalFooter,alignment) %}

<!-- The Modal -->
<div id="modal-{{id}}" class="modal {{alignment}}">
    <div class="modal-background">
        <!-- Modal content -->
        <div class="modal-container">
        <!-- mise en place du header s'il existe, sinon ajout du close -->
                <div class="modal-header">
                {% if modalHeader %}
                    <h3>{{modalHeader|raw}}</h3>
                {% endif %}
                    <span class="close">&times;</span>
                </div>
        <!-- Contenu du back office -->
            <div class="modal-body">
                {{content|raw}}
            </div>
        <!-- Footer s'il existe -->
        {% if modalFooter %}
            <div class="modal-footer">
                <h3>{{modalFooter|raw}}</h3>
            </div>
        {% endif %}       
                
        </div>
    </div>
</div>

    
{% endmacro %}


