{% set footer_blocks = theme_var('footer_blocks') %}
{% set footer_icons = theme_var('footer_icons') %}
{% set footer_copyright = theme_var('copyright') %}
<footer class="footer">
    {% if footer_blocks|length > 0 %}
    <div class="footer-widget-section">
        <div class="container text-left">
            <div class="row">
                {% for block in footer_blocks %}
                <div class="col-sm-{{ (12 / footer_blocks|length)|round }} footer-block">
                    <div class="footer-widget">
                        {% if block.title %}
                        <h3>{{ block.title|raw }}</h3>
                        {% endif %}
                        {% if block.logo %}
                        <div class="footer-logo">
                            <a href="{{ base_url == '' ? '/' : base_url }}">
                                <img src="{{ url('theme://images/eps-logo.svg') }}" alt="eps-logo">
                            </a>
                        </div>
                        {% endif %}
                        {% if block.content %}
                        <p>{{ block.content|raw }}</p>
                        {% endif %}
                        {% if block.icons and footer_icons|length > 0 %}
                        <ul class="list-inline social-links">
                            {% for icon in footer_icons %}
                            <li><a href="{{ icon.url }}"><i class="fa {{ icon.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="copyright-section">
        <div class="container clearfix">
            <span class="copytext">
                <p>{{ footer_copyright|raw }}</p>
            </span>

            <ul class="list-inline pull-right">
            {% for page in pages.children.visible %}
                {% if page.header.shown_in_footer %}
                {% set activeClass = (page.active) ? 'active' : '' %}
                <li class="{{ activeClass|raw }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</footer>
