  
  {% if ( obj.main_title or obj.main_description )%}
  <div style="overflow:auto" class="{{ obj.custom_container ? obj.custom_container : 'container'}} {{ obj.css_class }}">
    <h1 class="{{obj.main_title.spacing}}">{{ obj.main_title.title|raw }}</h1>
    <p class="{{obj.main_description.spacing}}">{{ obj.main_description.description|raw }}</p>
  </div>
  {% endif %}