{% set item_style = page.header.basic_enumeration_style %}
{% import 'macros/basic_item.html.twig' as macro_basic_item %}

<section class="{{ page.header.custom_container ? page.header.custom_container : 'container '}} basic-item-list">
    <div class="row" >
        {% if page.header.basic_enumeration.isRowDisplay %}
            {% for item in page.header.enum_item_list  %}
                <div class="col-lg-{{ (12 / page.header.basic_enumeration.col_num)|round }} item {{item.number ? "order-" ~ item.number : ""}}  order-lg-1">
                    <div class ={{item.number ? "number" : "item_logo"}}>
                    {% if item.number %}
                        <span>{{item.number}}</span>
                    {% else %}
                        {{ page.media[item.logo].html("","","img-responsive")|raw }}
                    {% endif %}
                    </div>
                    <div class="infos">
                        {{macro_basic_item.basic_item(item.title, item.description, page.header.basic_enumeration.text_align )}}
                    </div>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
</section>

