
<section id='features' class="container">




    {% for row in page.header.rows %}
    <div class="container-features py-3 {% if row.inverse_responsive == 'image-start' %}flex-column-reverse{% else %}flex-column{% endif %} {% if row.global_position == 'right' %}flex-lg-row-reverse{% else %}flex-lg-row{% endif %} ">
      {% if row.title or row.description%}
      <div class="py-3 pe-lg-5 container-features__desc {{ row.description_position }}">
        <h3>{{ row.title|raw }}</h3>
        <p>{{ row.description|raw }}</p>
        {% include 'partials/button_block.html.twig' with {obj: row} %}
      {% endif %}
      </div>
      {% if row.media.image or row.media.iframe %}
        <div class="container-features__image {{ row.media.iframe ? "align-self-stretch" : "" }}">
          
          {% include 'partials/image_block.html.twig' with {obj: row.media} %}
          {#
          {% if row.image %}
            {{ page.media[row.image].html("","","img-responsive")|raw }}
          {% endif %}
          {% if row.video %}
            <div class="fluid-video-wrapper">
              <iframe src="{{ row.video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          {% endif %}
          #}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="row feature">
    {{ content|raw }}
  </div>
</section>
