<section id='features' class="container">
  {% for row in page.header.rows %}
    <div class="container-features__row flex-column py-3 {% if row.global_position == 'right' %}flex-md-row-reverse{% else %}flex-md-row{% endif %} ">

      <div class="py-2 {% if row.image or row.video %}container-features__row__image{% endif %} {{ row.description_position }}">
        <h3>{{ row.title }}</h3>
        <p>{{ row.description }}</p>
        <button class="btn-eps">titre du bouton</button>
      </div>

      <div class="{% if row.image or row.video %}container-features__row__image{% endif %} feature-media">
        {% if row.image %}
          {{ page.media[row.image].html("","","img-responsive")|raw }}
        {% endif %}
        {% if row.video %}
          <div class="fluid-video-wrapper">
            <iframe src="{{ row.video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="row feature">
    {{ content|raw }}
  </div>
</section>
