{% import 'macros/button.html.twig' as button %}

<section id='features' class="container">
  <div class="container text-center py-5 px-5">
    <h1 class="py-3">{{ page.header.main_title|raw }}</h1>
    <p>{{ page.header.main_description|raw }}</p>
  </div>

    {% for row in page.header.rows %}
    <div class="container-features__row py-3 {% if row.inverse_responsive == 'image-start' %}flex-column-reverse{% else %}flex-column{% endif %} {% if row.global_position == 'right' %}flex-md-row-reverse{% else %}flex-md-row{% endif %} ">
      <div class="py-2 {% if row.image or row.video %}container-features__row__image{% endif %} {{ row.description_position }}">
        <h3>{{ row.title|raw }}</h3>
        <p>{{ row.description|raw }}</p>
        {{button.macro_button(row.btn_list)}}
      </div>

      <div class="{% if row.image or row.video %}container-features__row__image{% endif %} feature-media">
        {% if row.image %}
          {{ page.media[row.image].html("","","img-responsive")|raw }}
        {% endif %}
        {% if row.video %}
          <div class="fluid-video-wrapper">
            <iframe src="{{ row.video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="row feature">
    {{ content|raw }}
  </div>
</section>
