<div class="example_particle {{ particle.css.class }}">
    <div align="center">
        <img src="{{ url(page.header.image) }}" alt="image">
        <h2 class="{{page.header.css_titre}}">{{ page.header.title_module }}</h2>
        <p>{{ page.header.description }}</p>
    </div>
</div>