{% import 'macros/cards.html.twig' as macro_card %}
<section class="container">

   <div class="owl-carousel owl-theme owl-loaded owl-drag " >
      {% for card in page.header.card_list %}
        {{macro_card.card(page,card)}}
  
      {% endfor %}
    </div>


</section>



  <script>

            $('.owl-carousel').owlCarousel({
              loop: {{carousel_item_loop ? 'true':'false' }},  
              dots: true,
              nav: true,
              center: false,
              margin: {{page.header.carousel_item_margin}},
              items: {{page.header.carousel_nb_items}},
              margin: 10,
              {% if animate %}
                animateOut: 'fadeOut',
                animateIn: 'fadeOut',
                smartSpeed:450,
              {% endif %}
navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
              {% if page.header.carousel_responsive_list %}
                responsive:{

                  {% for resp in page.header.carousel_responsive_list %}
                    {{resp.breakpoint}}:{
                      items: {{resp.items}},
                      margin: {{resp.margin}},
                      loop: {{resp.loop ? 'true':'false' }},
                      nav: {{resp.nav ? 'true':'false' }},
                      dots: {{resp.dots ? 'true':'false' }},
                      mouseDrag: {{resp.mouseDrag ? 'true':'false' }},
                    },

                  {% endfor %}
                }
              {% endif %}
              
            });



</script>












