
{% import 'macros/cards.html.twig' as macro_card %}
<div class="container tableau_comparatif">

    {% include 'partials/button_block.html.twig' with {obj: page.header.nab_btn} %}
    <ul class="info_section">
        <li><h2 class="main_title">{{page.header.princing_section.title}}</h2></li>
    {% for section_items in page.header.princing_section.list %}
        <ul>
            <li><h3 class="section_title">{{section_items.title}}</h3></li>
        {% for item in section_items.list %}
            <li><p>{{item.desc}}</p></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
  <div class="tableau_comparatif_carousel owl-wrapper">
   <div class="owl-carousel owl-theme owl-loaded owl-drag " >
   {% for cards in page.header.card_princing_list %}
        {{macro_card.card_comparatif(cards)}}
    {% endfor %}
    </div>
 </div>

</div>


  <script>


    $('.tableau_comparatif_carousel .owl-carousel').owlCarousel({
      loop: false,    
      dots: true,
      nav: true,
      responsiveRefreshRate:10,
      center: false,
      margin: {{page.header.carousel_item_margin}},
      items: {{page.header.carousel_nb_items}}, 
      stagePadding: 10,
      navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      
      {% if page.header.carousel_responsive_list %}
        responsive:{

          {% for resp in page.header.carousel_responsive_list %}
            {{resp.breakpoint}}:{
              items: {{resp.items}},
              margin: {{resp.margin}},
              loop: {{resp.loop ? 'true':'false' }},
              nav: {{resp.nav ? 'true':'false' }},
              dots: {{resp.dots ? 'true':'false' }},
              stagePadding: {{resp.stagePadding}},
              
            },

          {% endfor %}
        }
      {% endif %}
      
    });



$(document).ready(function(){
  $(window).resize(function(){
      var tab = $( ".tableau_comparatif .info_section");
      console.log(tab.css("content"));
      if( tab.css("content")== 'mobile'){

        tab.addClass("incroyable");
        
      }
    });
});



</script>

