{% extends 'partials/base.html.twig' %}



{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlepagenav.min.js') %}
    {% endif %}
    {% do assets.addJs('theme://js/owl.carousel.js') %}
    {% do assets.addJs('theme://js/smooth-scroll.min.js') %}

    {% do assets.addJs('/user/plugins/shortcode-owl-carousel/js/owl.carousel.min.js') %}
    {% do assets.addJs('/user/themes/eps-theme/js/util.js') %}
    {% do assets.addJs('/user/themes/eps-theme/js/main.js') %}
    {% do assets.addJs('/user/themes/eps-theme/js/script.js') %}

 
    {{ parent() }}
{% endblock %}



{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('ul.navigation').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}


{% block hero %}
    {% for module in page.collection() if module.template == 'modular/hero' %}
        <div id="{{ module.menu|hyphenize }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}

{% block body %}

    {% for module in page.collection() %}
        <section class="container-fluid {{module.header.section_container_padding_class}}">
        {% if module.header.showcase_curvature["curvature_top"] %}
            <div class ="container-fluid top-radius-bg" style="background-color:{{module.header.showcase_bg_color}}; height:{{module.header.showcase_curvature_height}};" ></div>
        {% endif %}
                <section class="custom-container container-fluid" style=" background-image: url('{{module.media[module.header.showcase_bg_img].url}}'); background-color:{{module.header.showcase_bg_color}};">
                    {% include 'partials/general-title-description.html.twig' with {obj: module.header} %}
                    {{ module.content|raw }}
                </section>
        {% if module.header.showcase_curvature["curvature_bottom"] %}
            <div class ="container-fluid bottom-radius-bg"  style="background-color:{{module.header.showcase_bg_color}}; height: {{module.header.showcase_curvature_height}};" ></div>
        {% endif %}
        </section>
    {% endfor %}
{% endblock %}


